@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Nhóm thực hiện:<br />
    1. Thành viên thứ nhất<br />
    2. Thành viên thứ hai<br />
    3. Thành viên thứ ba<br />
    </p>
