@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Khoa của sinh viên<br />
    Trường Đại học Công nghệ thông tin<br />
    <abbr title="Phone">Điện thoại:</abbr>
    425.555.0100
</address>

<address>
    <strong>Liên hệ:</strong>   <a href="mailto:email@uit.edu.vn">email@uit.edu.vn</a><br />
</address>