@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Thông tin EBook</h1>
    <p class="lead">Thông tin EBook là trang web giới thiệu các sách điện tử của mỗi người. Bất kỳ ai cũng có thể giới thiệu sách điện tử mà mình đã đọc
    <br/>Mọi người cùng chia sẻ để cùng mở rộng tầm hiểu biết chung của chúng ta.</p>
</div>

