body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color:rgba(22, 24, 35, .2);
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background-color:rgba(0, 0, 0, 0);
}

.markdown ol, .markdown ul {
  margin-left: 20px;
}

/* Define a keyframe animation */
@keyframes highlight {
  from {
    background-color: #ffece1;
  }
  to {
    background-color: transparent;
  }
}

/* Define a class that uses the animation */
.highlight {
  animation: highlight 2s ease;
}

.functional-carousel {
  width: 60%;
}
