:root {
    --card-bg-01: #fdefe6;
    --card-bg-02: #d6e5fb;
    --card-bg-03: #ceebe9;
    --card-bg-04: #14160f;
    --primary-color: #34a853;
    --primary-color-dark: #216934;
    --secondary-color-0: #fdfbf8;
    --secondary-color-1: #fff4e7;
    --secondary-color-2: #eeebff;
    --secondary-color-3: #e0eff6;
    --secondary-color-4: #caf3e5;
    --hero-bg: #c4c4c4;
    --heading-fontSize: 2rem;
    --small-text-color: #999;
    --heading-text-color: #0a1d37;
    --xs: 0;
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;
    --xxl: 1400px;
    --black: #000;
    --white: #fff;
    --light: #f0f0f0;
}

/* reset browser default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    height: 100%;
    font-size: 1.15rem;
}


body {
    color: var(--primary-color);
    font-size: 1.15rem;
    height: 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='3840' height='2160' preserveAspectRatio='none' viewBox='0 0 3840 2160'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1194%26quot%3b)' fill='none'%3e%3crect width='3840' height='2160' x='0' y='0' fill='rgba(32%2c 33%2c 36%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c1530.2C277.094%2c1465.714%2c414.268%2c1165.805%2c630.09%2c980.439C810.013%2c825.907%2c1064.857%2c747.042%2c1163.148%2c531.192C1261.409%2c315.406%2c1194.405%2c67.648%2c1151.968%2c-165.628C1110.961%2c-391.04%2c1022.408%2c-592.711%2c921.289%2c-798.301C786.332%2c-1072.69%2c739.895%2c-1444.741%2c461.083%2c-1570.305C185.471%2c-1694.428%2c-128.536%2c-1506.972%2c-410.514%2c-1398.082C-672.334%2c-1296.976%2c-946.875%2c-1190.422%2c-1111.426%2c-963.056C-1270.541%2c-743.202%2c-1292.237%2c-456.59%2c-1288.292%2c-185.228C-1284.775%2c56.729%2c-1157.379%2c265.405%2c-1090.189%2c497.873C-1008.843%2c779.318%2c-1064.434%2c1123.849%2c-851.708%2c1325.284C-635.297%2c1530.209%2c-290.283%2c1597.755%2c0%2c1530.2' fill='%231a1a1d'%3e%3c/path%3e%3cpath d='M3840 3062.084C4015.146 3068.295 4196.79 3039.0280000000002 4339.927 2937.902 4480.384 2838.67 4516.882 2655.038 4615.534 2514.174 4742.133 2333.404 4969.3189999999995 2211.279 5001.692 1992.974 5036.105 1760.916 4935.686 1520.687 4790.148 1336.692 4641.433 1148.6799999999998 4429.846 975.0509999999999 4190.259 967.1279999999999 3956.352 959.393 3808.877 1223.74 3586.568 1296.8899999999999 3375.499 1366.341 3101.561 1227.8690000000001 2938.64 1378.967 2777.587 1528.333 2799.764 1793.47 2814.851 2012.606 2827.957 2202.972 2918.318 2372.724 3018.248 2535.282 3108.009 2681.298 3218.059 2810.7309999999998 3362.353 2903.234 3506.529 2995.661 3668.85 3056.015 3840 3062.084' fill='%2326282b'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1194'%3e%3crect width='3840' height='2160' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

h1,
h2 {
    font-size: var(--heading-fontSize) !important;
}

.entry-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0, 0.6);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
    .entry-box a span:nth-child(1) {
        bottom: 2px;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #03f40f);
        animation: btn-anim1 2s linear infinite;
    }

.custom-btn {
    position: relative;
    display: inline-block;
    padding: 1rem 2rem;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin: 0.5rem 1rem 0.5rem 1rem;
    letter-spacing: 0.25rem;
    border-radius: 5px 5px 5px 5px;
    width: 12rem;
    background: linear-gradient(to bottom, rgba(5, 5, 6, .5), rgba(13, 13, 14, 1));
    text-align: center;
    border: none;
}

    .custom-btn:hover {
        border-radius: 5px;
        color: #fff;
        
        background: #03f40f;
        box-shadow: 0 0 1px #03f40f, 0 0 10px #03f40f, 0 0 10px #03f40f, 0 0 50px #03f40f;
    }

    .custom-btn span {
        position: absolute;
        display: block;
    }

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,100% {
        left: 100%;
    }
}

.popup-header {
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgba(0,0,0, 0.6);
    padding: 1.5rem 1rem 1.5rem 1.5rem;
}

.theme-checkbox {
    --toggle-size: 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 6.25em;
    height: 3.125em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 99em;
    position: relative;
    cursor: pointer;
    font-size: var(--toggle-size);
}

    .theme-checkbox::before {
        content: "";
        width: 2.25em;
        height: 2.25em;
        position: absolute;
        top: 0.438em;
        left: 0.438em;
        background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
        background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
        background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
        background-size: 205%;
        background-position: 100%;
        border-radius: 50%;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }

    .theme-checkbox:checked::before {
        left: calc(100% - 2.25em - 0.438em);
        background-position: 0;
    }

    .theme-checkbox:checked {
        background-position: 100%;
    }

.textInputWrapper {
    position: relative;
    font-size: 16px;
    --accent-color: #a3e583;
}

    .textInputWrapper:before {
        transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    }

    .textInputWrapper:before,
    .textInputWrapper:after {
        content: "";
        left: 0;
        right: 0;
        position: absolute;
        pointer-events: none;
        bottom: -1px;
        z-index: 4;
        width: 100%;
    }

    .textInputWrapper:focus-within:before {
        border-bottom: 1px solid var(--accent-color);
    }

    .textInputWrapper:before {
        transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    }

    .textInputWrapper:focus-within:before {
        border-bottom: 1px solid var(--accent-color);
        transform: scaleX(1);
    }

    .textInputWrapper:focus-within:after {
        border-bottom: 2px solid var(--accent-color);
        box-shadow: 0 0 5px #03f40f, 0 0 25px #03f40f, 0 0 50px #03f40f, 0 0 100px #03f40f;
        transform: scaleX(1);
    }

    .textInputWrapper:after {
        content: "";
        transform: scaleX(0);
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        will-change: transform;
        border-bottom: 2px solid var(--accent-color);
        border-bottom-color: var(--accent-color);
    }

.textInput::placeholder {
    transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    opacity: 1;
    user-select: none;
    color: rgba(255, 255, 255, 0.3);
}

.textInputWrapper .textInput {
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 2px 5px rgb(35 35 35 / 30%);
    max-height: 36px;
    background: rgba(26, 26, 29, 0.9);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 200ms;
    transition-property: background-color;
    color: white;
    font-size: 16px;
    padding: 1.2rem 1rem 1.2rem 1rem;
    width: 100%;
    border-left: none;
    border-bottom: none;
    border-right: none;
    text-align: center;
}

    .textInputWrapper .textInput:focus,
    .textInputWrapper .textInput:active {
        outline: none;
    }

    .textInputWrapper:focus-within .textInput,
    .textInputWrapper .textInput:focus,
    .textInputWrapper .textInput:active {
        background-color: #353535;
    }

        .textInputWrapper:focus-within .textInput::placeholder {
            opacity: 0;
        }

.dropdown-item {
    background-color: #353535;
}

.eye-lid {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 9px 0 2px rgba(0, 0, 0, 0.2);
    width: 150px;
    height: 150px;
}

.eye {
    background-color: #34a853;
    border-radius: 50%;
    transform: translate3d(0, 0, 0) rotate(90deg);
    width: 120px;
    height: 120px;
    animation: eye 5s infinite;
}

@keyframes eye {
    12%, 25% {
        width: 100px;
        height: 110px;
    }

    37%, 50% {
        width: 60px;
        height: 130px;
    }

    63%, 75% {
        width: 100px;
        height: 103px;
    }

    87% {
        width: 100px;
        height: 100px;
    }
}

.cornea {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: eye-color 5s infinite;
}

@keyframes eye-color {
    63%, 75% {
        background-color: rgb(8, 20, 96);
    }
}

.white-pupil {
    position: absolute;
    top: 9%;
    left: 10%;
    border-radius: 50%;
    background-color: white;
    width: 20px;
    height: 20px;
}

.loader {
    width: 160px;
    height: 185px;
    position: relative;
    background: #34a853;
    border-radius: 100px 100px 0 0;
}

    .loader:after {
        content: "";
        position: absolute;
        width: 100px;
        height: 125px;
        left: 50%;
        top: 25px;
        transform: translateX(-50%);
        background-image: radial-gradient(circle, #000 48%, transparent 55%), radial-gradient(circle, #000 48%, transparent 55%), radial-gradient(circle, #fff 30%, transparent 45%), radial-gradient(circle, #000 48%, transparent 51%), linear-gradient(#000 20px, transparent 0), linear-gradient(#cfecf9 60px, transparent 0), radial-gradient(circle, #cfecf9 50%, transparent 51%), radial-gradient(circle, #cfecf9 50%, transparent 51%);
        background-repeat: no-repeat;
        background-size: 16px 16px, 16px 16px, 10px 10px, 42px 42px, 12px 3px, 50px 25px, 70px 70px, 70px 70px;
        background-position: 25px 10px, 55px 10px, 36px 44px, 50% 30px, 50% 85px, 50% 50px, 50% 22px, 50% 45px;
        animation: faceLift 3s linear infinite alternate;
    }

    .loader:before {
        content: "";
        position: absolute;
        width: 140%;
        height: 125px;
        left: -20%;
        top: 0;
        background-image: radial-gradient(circle, #34a853 48%, transparent 50%), radial-gradient(circle, #34a853 48%, transparent 50%);
        background-repeat: no-repeat;
        background-size: 65px 65px;
        background-position: 0px 12px, 145px 12px;
        animation: earLift 3s linear infinite alternate;
    }

@keyframes faceLift {
    0% {
        transform: translateX(-60%);
    }

    100% {
        transform: translateX(-30%);
    }
}

@keyframes earLift {
    0% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0px);
    }
}

  
