/* ignore */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateY(50%);
}

.container {
    align-items: center;
    justify-content: center;
    margin: 0 auto 0 auto;
    display: block;
    min-width: 231.5px;
    width: 100% !important;
    max-width: 483px;
}

/* the code below is for the dropdown heading */
.setting-description {
    background-color: #1a1a1d;
    min-width: 231.5px;
    width: 100% !important;
    /*max-width: 483px;*/
}

h10 {
    font-size: 12px;
    margin-left: 5px !important;
    letter-spacing: 0.8px;
    font-family: Arial !important;
}

.setting-description-text {
    padding-top: 18px !important;
    color: #81828b;
    font-family: Gilroy-Regular !important;
}

/* the code below is for the dropdown menu */
.wrapper-dropdown {
    position: relative;
    display: inline-block;
    min-width: 231.5px;
    width: 100%;
    !important;
    /*max-width: 483px;*/
    padding: 0.65em 0;
    border-radius: 0.5rem !important;
    background: #1a1a1d;
    text-align: left;
    color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 20px;
    font-family: Arial;
}

.choices__inner {
    position: relative;
    display: inline-block;
    min-width: 231.5px;
    width: 100%;
    /*max-width: 483px;*/
    padding: 0.65em 0;
    border: none !important;
    border-radius: 0.5rem !important;
    background: #1a1a1d !important;
    text-align: left;
    color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Arial;
}

.choices__input {
    font-size: 12px;
    margin-left: 5px !important;
    letter-spacing: 0.8px;
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 100%;
    background-color: #1a1a1d !important;
}

.choices__list {
    border: none !important;
    background-color: #1a1a1d !important;
    border-radius: 0.5rem !important;
    padding: 0.2em 0;
}

.choices__item {
    font-size: 16px;
    margin-left: 5px !important;
    margin-right: 5px !important;
    letter-spacing: 0.8px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #1a1a1d !important;
    border-color: #7ad5a6 !important;
    padding: 0.1em 0.65em 0.1em 0;
}

    .choices__item:hover {
        background-color: #232831 !important;
        border-radius: 10px;
    }

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.arrow {
    margin-left: 10px;
    margin-right: 10px;
    float: right;
    rotate: 180deg;
}

.selected-display {
    margin-left: 20px;
}

svg {
    transition: all 0.3s;
}

.wrapper-dropdown::before {
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -2px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #fff transparent;
}

.rotated {
    transform: rotate(-180deg);
}

.wrapper-dropdown .dropdown {
    transition: 0.3s;
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 99;
    border-radius: 15px;
    box-shadow: inherit;
    background: inherit;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0;
    visibility: hidden;
}

    .wrapper-dropdown .dropdown li {
        padding: 0 15px;
        line-height: 45px;
        overflow: hidden;
    }

        .wrapper-dropdown .dropdown li:last-child {
            border-bottom: none;
        }

.dropdown {
    padding: 0.5rem !important;
}

.wrapper-dropdown .dropdown li:hover {
    background-color: rgb(35, 40, 49);
    border-radius: 10px;
}

.wrapper-dropdown.active .dropdown {
    opacity: 1;
    visibility: visible;
    border-radius: 15px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    color: var(--primary-color);
    font-size: 1.15rem;
    height: 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='3840' height='2160' preserveAspectRatio='none' viewBox='0 0 3840 2160'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1194%26quot%3b)' fill='none'%3e%3crect width='3840' height='2160' x='0' y='0' fill='rgba(32%2c 33%2c 36%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c1530.2C277.094%2c1465.714%2c414.268%2c1165.805%2c630.09%2c980.439C810.013%2c825.907%2c1064.857%2c747.042%2c1163.148%2c531.192C1261.409%2c315.406%2c1194.405%2c67.648%2c1151.968%2c-165.628C1110.961%2c-391.04%2c1022.408%2c-592.711%2c921.289%2c-798.301C786.332%2c-1072.69%2c739.895%2c-1444.741%2c461.083%2c-1570.305C185.471%2c-1694.428%2c-128.536%2c-1506.972%2c-410.514%2c-1398.082C-672.334%2c-1296.976%2c-946.875%2c-1190.422%2c-1111.426%2c-963.056C-1270.541%2c-743.202%2c-1292.237%2c-456.59%2c-1288.292%2c-185.228C-1284.775%2c56.729%2c-1157.379%2c265.405%2c-1090.189%2c497.873C-1008.843%2c779.318%2c-1064.434%2c1123.849%2c-851.708%2c1325.284C-635.297%2c1530.209%2c-290.283%2c1597.755%2c0%2c1530.2' fill='%231a1a1d'%3e%3c/path%3e%3cpath d='M3840 3062.084C4015.146 3068.295 4196.79 3039.0280000000002 4339.927 2937.902 4480.384 2838.67 4516.882 2655.038 4615.534 2514.174 4742.133 2333.404 4969.3189999999995 2211.279 5001.692 1992.974 5036.105 1760.916 4935.686 1520.687 4790.148 1336.692 4641.433 1148.6799999999998 4429.846 975.0509999999999 4190.259 967.1279999999999 3956.352 959.393 3808.877 1223.74 3586.568 1296.8899999999999 3375.499 1366.341 3101.561 1227.8690000000001 2938.64 1378.967 2777.587 1528.333 2799.764 1793.47 2814.851 2012.606 2827.957 2202.972 2918.318 2372.724 3018.248 2535.282 3108.009 2681.298 3218.059 2810.7309999999998 3362.353 2903.234 3506.529 2995.661 3668.85 3056.015 3840 3062.084' fill='%2326282b'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1194'%3e%3crect width='3840' height='2160' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover
}

.wrap {
    max-width: 400px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-30%);
}

.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #fff;
    width: 100%;
    height: 40px;
}

.select-t {
    display: none;
}

.wrap h1 {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, -40px -40px 0px rgba(28,110,164,0);
    color: #181B33;
    background: #232323;
    font-size: 47px;
    text-align: center;
    font-family: monospace;
}

.custom-select {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #1a1a1d;
    color: #fff;
    padding: 8px 15px;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    border-radius: 0.5rem !important;
    display: flex;
    align-items: center;
}

    .custom-select:after {
        content: "";
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-color: #9E9E9E transparent transparent transparent;
        position: absolute;
        top: 16px;
        right: 10px;
        transform: rotateZ(0deg);
        transition: all 0.5s;
        transform-origin: 50% 25%;
    }
    /*.custom-select:hover {
     background-color: #b83729;
}
*/
    .custom-select:active, .custom-select.active {
        background-color: #1a1a1d;
        color: #9E9E9E;
    }

        .custom-select:active:after, .custom-select.active:after {
            transform: rotateZ(180deg);
            transition: all 0.5s;
            transform-origin: 50% 25%;
        }

    .custom-select:focus {
        outline: 2px;
    }

.select-options {
    max-height: 200px;
    overflow-y: auto;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #1a1a1d;
    border-radius: 5px 5px 5px 5px;
}

    .select-options li {
        color: #fff;
        margin: 0;
        padding: 12px 0;
        /* text-indent: 15px;
    */
        /* border-top: 1px solid #AED581;
    */
        -moz-transition: all 0.15s ease-in;
        -o-transition: all 0.15s ease-in;
        -webkit-transition: all 0.15s ease-in;
        transition: all 0.15s ease-in;
        padding-left: 15px;
        border-radius: 0.5rem !important;
    }

        .select-options li:hover {
            color: #fff;
            background-color: rgb(35, 40, 49);
            border-radius: 10px;
        }

        .select-options li[rel="hide"] {
            display: none;
        }

::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(35, 40, 49);
    border-radius: 0 0 5px 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #fff;
}
