@model InstaTalk.Models.StrangerModel
@{
    ViewData["Title"] = "Stranger";
}

@section customHead {
    <link rel="stylesheet" href="~/lib/multi-select/css/multi-select.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/stranger_index.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
}

<div class="min-vh-100 d-flex align-items-center justify-content-center flex-column w-100">
    <div style="max-width:550px;text-align:center;">
        <img class="img-fluid" id="homepage_logo" src="~/asset/image/logo.png" alt="logo" style="margin: 1rem 0rem 1rem 0rem;">
        <form id="stranger_index_form" style="width:95%; display:inline-block; margin-left:auto; margin-right:auto;" method="post" action="@Url.Action("CallAddStranger", "Stranger")">
            <div class="m-auto" style="max-width:550px;">
            </div>
            <div style="max-width:550px;">
                <select class="select-t" id="select_gender" name="StrangerFilter.FindGender[]">
                    <option selected>You want to find</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Gay">Gay</option>
                    <option value="Lesbian">Lesbian</option>
                    <option value="Binary">Binary</option>
                    <option value="All">Any Gender</option>
                </select>
            </div>
            <div class="m-auto d-flex gap-2 mb-2" style="max-width:550px;">
                <select class="select-t" id="select_age" name="StrangerFilter.MinAge">
                    <option selected>Whose age is</option>
                    <option value="1">From 15 to under 18</option>
                    <option value="2">From 18 to under 24</option>
                    <option value="3">From 24 to under 30</option>
                    <option value="4">Above 30</option>
                </select>
                @*<select class="select-t" id="select_country" name="StrangerFilter.FindRegion[]">
                <option selected>And come from</option>
                </select>*@
            </div>
            <div style="width:100%;" class="mb-3">
                <select id="select_country" name="StrangerFilter.FindRegion[]" placeholder="And come from" multiple>
                </select>
            </div>

            <a class="custom-btn me-2" style="width: 16rem;" href="#" onclick="submitForm()">
                Let's Find Out
                <span></span>
            </a>
        </form>
    </div>
</div>

@section script {
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
    <script src="~/js/stranger_index.js" asp-append-version="true"></script>

    <script>
        $.ajax({
            url: "https://gist.githubusercontent.com/ssskip/5a94bfcd2835bf1dea52/raw/3b2e5355eb49336f0c6bc0060c05d927c2d1e004/ISO3166-1.alpha2.json",
            type: "get",
            success: function (data) {
                var countries = JSON.parse(data);
                var select = document.getElementById("select_country");
                Object.keys(countries).forEach(key => {
                    var el = document.createElement("option");
                    el.textContent = countries[key];
                    el.value = key;
                    select.appendChild(el);
                })
            }
        }).then(function () {
            $('.select-t').each(function () {
                var $this = $(this), selectOptions = $(this).children('option').length;

                $this.addClass('hide-select');
                $this.wrap('<div class="select p-4"></div>');
                $this.after('<div class="custom-select"></div>');

                var $customSelect = $this.next('div.custom-select');
                $customSelect.text($this.children('option').eq(0).text());

                var $optionlist = $('<ul />', {
                    'class': 'select-options'
                }).insertAfter($customSelect);

                for (var i = 0; i < selectOptions; i++) {
                    $('<li />', {
                        text: $this.children('option').eq(i).text(),
                        rel: $this.children('option').eq(i).val()
                    }).appendTo($optionlist);
                }

                var $optionlistItems = $optionlist.children('li');

                $customSelect.click(function (e) {
                    e.stopPropagation();
                    $('div.custom-select.active').not(this).each(function () {
                        $(this).removeClass('active').next('ul.select-options').hide();
                    });
                    $(this).toggleClass('active').next('ul.select-options').slideToggle();
                });

                $optionlistItems.click(function (e) {
                    e.stopPropagation();
                    $customSelect.text($(this).text()).removeClass('active');
                    $this.val($(this).attr('rel'));
                    $optionlist.hide();
                });

                $(document).click(function () {
                    $customSelect.removeClass('active');
                    $optionlist.hide();
                });

            });
            var multipleCancelButton = new Choices('#select_country', {
                removeItemButton: true,
                maxItemCount: 5,
                searchResultLimit: 5,
                renderChoiceLimit: 5
            });

        },
            function () {/*I fail*/ })

        function submitForm() {
            var form = document.getElementById("stranger_index_form");
            form.submit();
        }
    </script>
}