@model InstaTalk.Models.StrangerModel
@{
    ViewData["Title"] = "Stranger";
}
@section customHead {
    <link rel="stylesheet" href="~/css/stranger_index.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
}
<div class="min-vh-100 d-flex align-items-center justify-content-center flex-column w-100">
    <div style="max-width:550px; display:block; text-align:center;">
        <img class="img-fluid" id="homepage_logo" src="~/asset/image/logo.png" alt="logo" style="margin: 0px 0px 20px 0px">
        <form id="stranger_index_form" style="width:95%;display:inline-block;margin-left:auto; margin-right:auto;" method="post" action="@Url.Action("FindOut", "Stranger")">
            <div class="textInputWrapper" style="margin: 0px 0px 20px 0px">
                <input placeholder="Your display name" required name="DisplayName" type="text" class="textInput">
            </div>
            <!-- There are two dropdowns to show multi-menu support -->


            <div class="m-auto d-flex gap-2 justify-content-center align-items-center mb-3">
                <div class="btn-group shadow-0 me-1 " style="width:100%;" aria-label=".form-select-lg example">
                    <select class="select-t" id="select_gender" name="Gender" required>
                        <option selected>Choose gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
                <div class="textInputWrapper btn-group shadow-0 ms-1" style="width:100%;" aria-label=".form-select-lg example">
                    <input placeholder="Your age" class="textInput" type="number" required name="Age" />
                </div>
            </div>


            <div style="width:100%;" aria-label=".form-select-lg example">
                <select placeholder="Your country" id="select_country" name="Nationality" required>
                </select>
            </div>
            <center onclick="submitForm()">
                <a class="custom-btn">
                    NEXT
                </a>
            </center>
        </form>
    </div>
</div>

@section script {
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
    <script src="~/js/stranger_index.js" asp-append-version="true"></script>
    <script>
        $.ajax({
            url: "https://gist.githubusercontent.com/ssskip/5a94bfcd2835bf1dea52/raw/3b2e5355eb49336f0c6bc0060c05d927c2d1e004/ISO3166-1.alpha2.json",
            type: "get",
            success: function (data) {
                var countries = JSON.parse(data);
                var select = document.getElementById("select_country");
                Object.keys(countries).forEach(key => {
                    var el = document.createElement("option");
                    el.textContent = countries[key];
                    el.value = key;
                    select.appendChild(el);
                })
            }
        }).then(function () {
            $('.select-t').each(function () {
                var $this = $(this), selectOptions = $(this).children('option').length;

                $this.addClass('hide-select');
                $this.wrap('<div class="select p-4"></div>');
                $this.after('<div class="custom-select"></div>');

                var $customSelect = $this.next('div.custom-select');
                $customSelect.text($this.children('option').eq(0).text());

                var $optionlist = $('<ul />', {
                    'class': 'select-options'
                }).insertAfter($customSelect);

                for (var i = 0; i < selectOptions; i++) {
                    $('<li />', {
                        text: $this.children('option').eq(i).text(),
                        rel: $this.children('option').eq(i).val()
                    }).appendTo($optionlist);
                }

                var $optionlistItems = $optionlist.children('li');

                $customSelect.click(function (e) {
                    e.stopPropagation();
                    $('div.custom-select.active').not(this).each(function () {
                        $(this).removeClass('active').next('ul.select-options').hide();
                    });
                    $(this).toggleClass('active').next('ul.select-options').slideToggle();
                });

                $optionlistItems.click(function (e) {
                    e.stopPropagation();
                    $customSelect.text($(this).text()).removeClass('active');
                    $this.val($(this).attr('rel'));
                    $optionlist.hide();
                });

                $(document).click(function () {
                    $customSelect.removeClass('active');
                    $optionlist.hide();
                });

            });
            var multipleCancelButton = new Choices('#select_country', {
                removeItemButton: true,
                maxItemCount: 1,
                searchResultLimit: 5,
                renderChoiceLimit: 5,
                placeholderValue: 'Your country',
                noChoicesText: 'No country found',
                searchPlaceholderValue: 'Select your country',

            });

        },
            function () {/*I fail*/ })

        function submitForm() {
            var form = document.getElementById("stranger_index_form");
            form.submit();
        }
    </script>
}