@{
    ViewData["Title"] = "Stranger";
}

@section customHead {
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
}

<div class="min-vh-100 d-flex align-items-center justify-content-center flex-column w-100">
    <div class="d-flex flex-column justify-content-center align-items-center text-center p-4 col-10">
        <div style="max-width:550px; margin:2rem 0rem 1rem 0rem">
            <div class="eye-lid">
                <div class="eye">
                    <div class="cornea">
                        <div class="white-pupil"></div>
                    </div>
                </div>
            </div>
        </div>
        <text class="mb-4" style="font-size: 32px; text-transform: uppercase; letter-spacing: 0.25rem; color: white"><span>Phuc</span> want to connect with you</text>
        <form id="homepage_form" class="w-100">
            <a class="custom-btn" onclick="location.href='@Url.Action("Meeting2Peer","Stranger")'">
                Accept
                <span></span>
            </a>
            <a onmouseover="this.style.background='#f40303'; this.style.boxShadow='0 0 1px #f40303, 0 0 10px #f40303, 0 0 10px #f40303, 0 0 50px #f40303'" onmouseout="this.style.background='linear-gradient(to bottom, rgba(5, 5, 6, .5), rgba(13, 13, 14, 1))'; this.style.boxShadow='none'" class="custom-btn" onclick="location.href='@Url.Action("Matching","Stranger")'">
                Decline
                <span></span>
            </a>
        </form>
    </div>
</div>
