@model RoomInfo


@{
    ViewData["Title"] = "Room";
}

@section customHead {
    <link rel="stylesheet" href="~/css/home_friendhub.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/room_index.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
}

<div class="min-vh-100 d-flex align-items-center justify-content-center flex-column w-100">
    <div class="d-flex flex-column justify-content-center align-items-center text-center p-4 col-10">
        <form class="d-flex flex-column w-50 justify-content-center align-items-center">
            <div>
                <img id="homepage_logo" src="../logo.png" alt="logo">
            </div>
            <h1 class="mb-4">Welcome to InstaTalk</h1>
            <div class="input-group border rounded-end mb-3 div-friendhub-custom">
                <input id="input-room-mate-id" class="form-control border-0 col-10 input-custom" type="text" placeholder="User Name">               
            </div>
            <div class="input-group border rounded-end mt-3 div-friendhub-custom">
                <input id="input-pass-mate-room" class="form-control border-0 col-10 input-custom" type="password" placeholder="Password">
                <span class="input-group-append col-1 d-flex justify-content-end input-custom">
                    <button id="btn-icon-visibility" class="bg-white border-start-0 border rounded-end py-2 pe-0 ps-0 d-flex justify-content-center btn-custom" type="button">
                        <span class="material-icons" id="icon_pass_off" onclick="changeIcon()">
                            visibility_off
                        </span>
                    </button>
                </span>
            </div>
            <button type="submit" class="btn btn-primary col-10 m-2" style="position: center">Join hostname's room</button>
        </form>
    </div>
</div>

@section script {
    <script src="~/js/home_friendhub.js" asp-append-version="true"></script>
}